
.title p {
    color: #ffffff;
}
.expandButton {
    color: #2bb0c2;
    --link-bg-color: #ffffff;
}
.link {
    color: #2bb0c2;
    --link-bg-color: #c9c9c9;
}

.nav {
background: var(--nav-bg-color);
}

.title {
    font-family: 'Fjalla One', sans-serif;
}

.title p {
line-height: 1.8rem;
float: right;
padding-left: 0.75rem;
padding-right: 0;
}

.logo {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.logo:hover {
text-decoration: none;
}

.link:hover {
text-decoration: none;
background: var(--link-bg-color);
}

.link {
background: var(--nav-bg-color);
transition: 0.3s;
font-family: var(--fonts);
font-weight: 700;
}

.navlinksHidden {
display: none;
}

.expandButton {
display: inline-flex;
padding: 0.75rem;
border-radius: 0.25rem;
margin-left: auto;
outline: none;
background: var(--nav-bg-color);
transition: 0.3s;
}

.expandButton a{
padding: 0;
margin: 0;
background: none;
transition: none;
}

.expandButton:hover {
background: var(--link-bg-color);
}

.svg {
width: 1.5rem;
height: 1.5rem;
}

@media only screen and (min-width: 688px) {

}

@media only screen and (min-width: 992px) {
.menu {
    display: inline-flex;
    flex-grow: 1;
    width: auto;
}
.title p {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.navlinks,
.navlinksHidden {
    display: inline-flex;
    flex-direction: row;
    margin-left: auto;
    width: auto;
    align-items: center;
    height: auto;
}
.expandButton {
    display: none;
}
.nav {
    width: auto;
}
.link {
    display: inline-flex;
    width: auto;
}
}

@media only screen and (min-width: 1312px) {

}